body{
    background: white;
    color: black;
    text-align: center;
}

.darkMode{
    background: black;
    color: white;
}

form{
    padding: 25px;
}

fieldset{
    padding: 25px;
    background-color: deepskyblue;
    max-width: fit-content;
    margin: auto;
}

